/* for using it css same like html there is selector etc */
header {
  background-color: #f406c8;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 30%;
  margin-bottom: 2rem;
  color: #fff;
}

footer {
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  background-color: #e821d4;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
}
